:root {
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hide {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
    background-color: rgb(250, 250, 250);
}


main {    
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    font-size: 5rem;
}

input {
    border-radius: 5px;
    border: none;
    outline: none;
    max-width: 6rem;
    height: 2.3rem;
    padding-left: 1rem;
    background-color: rgb(223, 223, 223);
    /* font-size: 1rem; */
}

.button-container {
    margin-top: 1rem;
}

button {
    height: 2.4rem;
    width: 6rem;
    border: none;
    cursor: pointer;    
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: var(--font);
    font-size: 1rem;
    transition: background-color, ease-in-out, .3s;
    
}

button:hover {
    background-color: #e2e2e2;
}

@media (max-width: 365px) {
    input {
        max-width: 4.6rem;        
    }

    .display {
        font-size: 4rem;
    }
}